//Fonts
$main-font: "Josefin Sans", sans-serif;

//Colors

$desat-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dg-red: hsl(0, 6%, 24%);

// Media
$mobile: 375px;
$desktop: 1024px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $main-font;
  position: relative;
  min-height: 100vh;
}

.view {
  display: flex;
  flex-direction: column;
}

/// need to add grdient

// section {
//   padding-bottom: 2.5rem;
//   background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
// }

.header {
  padding: 3rem;

  &__logo {
    width: 400px;
  }
}

.image img {
  width: 100%;
  height: auto;
}

.main {
  display: flex;
  justify-content: center;
  margin: 0;

  &__description {
    padding: 3.5rem 3rem;
  }

  &__description > * {
    text-align: center;
    max-width: 400px;
  }

  &__description h1 {
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 0.7rem;
    color: $desat-red;
  }

  &__description h2 {
    font-size: 2.8rem;
    letter-spacing: 0.7rem;
    color: $dg-red;
  }

  &__description p {
    padding: 2rem 0;
    line-height: 1.5rem;
    color: $desat-red;
  }
}

.input-area {
  position: relative;
  margin: 5%;
}

input {
  font-family: $main-font;
  font-size: 1rem;
  color: $desat-red;
  height: 50px;
  width: 100%;
  border: 1px solid $desat-red;
  border-radius: 22px;
  padding-left: 2rem;
  background-color: inherit;
}

input:focus,
input[text] {
  outline: none !important;
  color: $dg-red;
}

.invalid {
  border: 1px solid rgb(250, 88, 88);
}

#error-msg {
  color: rgb(250, 88, 88);
  min-height: 40px;
  padding: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: $dg-red !important;
}

::placeholder {
  color: $desat-red;
}

#error-sign {
  position: absolute;
  z-index: 2;
  top: 13px;
  right: 90px;
}

button {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0px;
  border: none;
  height: 50px;
  width: 80px;
  background-repeat: no-repeat;
  background: linear-gradient(135deg, rgb(247, 226, 226), hsl(0, 74%, 74%));
  border-radius: 22px;
  box-shadow: rgba(252, 1, 1, 0.15) 0px 15px 25px,
    rgba(250, 8, 8, 0.05) 0px 5px 10px;
  cursor: pointer;
}

button:hover {
  opacity: 80%;
}

footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  // height: 2.5rem;

  .attribution {
    font-size: 0.8rem;
    color: $desat-red;
    // margin-top: 20px;
  }
}

@media all and (min-width: $desktop) {
  body {
    display: flex;
    justify-content: flex-start;
  }

  .view {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
      "logo hero"
      "description hero";

    padding-bottom: 0;
    width: 100%;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .header {
    grid-area: logo;
    padding: 0;
    margin: 0 6.5rem;
    display: flex;
    justify-content: center;

    &__logo {
      padding: 2.5rem 0;
      width: 400px;
    }
  }

  .image {
    grid-area: hero;
    background-image: url("./images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .main {
    margin: 0rem 6.5rem;

    &__description {
      grid-area: description;
      padding: 2rem 0 3rem 0;
    }

    &__description > * {
      text-align: start;
    }

    &__description h1 {
      font-size: 2.5rem;
      width: 350px;
    }

    &__description h2 {
      font-size: 2.5rem;
      width: 350px;
    }

    .input-area {
      margin: 0;
    }
  }

  footer .attribution {
    text-align: start;
    margin-left: 22%;
  }
}
