* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Josefin Sans", sans-serif;
}

.page {
  position: relative;
  min-height: 100vh;
}

section {
  padding-bottom: 2.5rem;
  background: linear-gradient(135deg, white, #fff5f5);
}

.header__logo {
  padding: 2.5rem;
}

.image img {
  width: 100%;
  height: auto;
}

.main {
  display: flex;
  justify-content: center;
  margin: 0;
}
.main__description {
  padding: 3.5rem 3rem;
}
.main__description > * {
  text-align: center;
  max-width: 400px;
}
.main__description h1 {
  font-size: 2.8rem;
  font-weight: 300;
  letter-spacing: 0.7rem;
  color: #ce9797;
}
.main__description h2 {
  font-size: 2.8rem;
  letter-spacing: 0.7rem;
  color: #413a3a;
}
.main__description p {
  padding: 2rem 0;
  line-height: 1.5rem;
  color: #ce9797;
}

.input-area {
  position: relative;
  margin: 5%;
}

input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: #ce9797;
  height: 50px;
  width: 100%;
  border: 1px solid #ce9797;
  border-radius: 22px;
  padding-left: 2rem;
  background-color: inherit;
}

input:focus,
input[text] {
  outline: none !important;
  color: #413a3a;
}

.invalid {
  border: 1px solid #fa5858;
}

#error-msg {
  color: #fa5858;
  min-height: 40px;
  padding: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #413a3a !important;
}

::placeholder {
  color: #ce9797;
}

#error-sign {
  position: absolute;
  z-index: 2;
  top: 13px;
  right: 90px;
}

button {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0px;
  border: none;
  height: 50px;
  width: 80px;
  background-repeat: no-repeat;
  background: linear-gradient(135deg, #f7e2e2, #ee8c8c);
  border-radius: 22px;
  box-shadow: rgba(252, 1, 1, 0.15) 0px 15px 25px, rgba(250, 8, 8, 0.05) 0px 5px 10px;
  cursor: pointer;
}

button:hover {
  opacity: 80%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
footer .attribution {
  font-size: 0.8rem;
  text-align: center;
  color: #413a3a;
  margin-top: 20px;
}

@media all and (min-width: 1024px) {
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .view {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "logo hero" "description hero";
    padding-bottom: 0;
    margin-bottom: 2.5rem;
    width: 1024px;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .header {
    grid-area: logo;
    margin-left: 6.5rem;
  }
  .header__logo {
    padding: 2.5rem 0;
  }

  .image {
    grid-area: hero;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .main {
    margin: 0rem 6.5rem;
  }
  .main__description {
    grid-area: description;
    padding: 2rem 0 3rem 0;
  }
  .main__description > * {
    text-align: start;
  }
  .main__description h1 {
    font-size: 2.5rem;
    width: 350px;
  }
  .main__description h2 {
    font-size: 2.5rem;
    width: 350px;
  }
  .main .input-area {
    margin: 0;
  }

  footer .attribution {
    text-align: start;
    margin-left: 8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
