//Fonts
$main-font: "Josefin Sans", sans-serif;

//Colors

$desat-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dg-red: hsl(0, 6%, 24%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $main-font;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.mobile {
  width: 100%;
}

.header {
  &__logo {
    padding: 2.5rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__image img {
    width: 100%;
    height: auto;
  }

  &__description {
    padding: 3.5rem 2rem;
  }

  &__description > * {
    text-align: center;
  }

  &__description h1 {
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 0.7rem;
    color: $desat-red;
  }

  &__description h2 {
    font-size: 2.8rem;
    letter-spacing: 0.7rem;
    color: $dg-red;
  }

  &__description p {
    padding: 2rem;
    line-height: 1.5rem;
    color: $desat-red;
  }
}

.input-area {
  position: relative;
  margin: 0 10%;
}

input {
  font-family: $main-font;
  font-size: 1rem;
  color: $desat-red;
  height: 50px;
  width: 100%;
  border: 1px solid $desat-red;
  border-radius: 22px;
  padding-left: 2rem;
}

input:focus {
  outline: none !important;
}

::placeholder {
  color: $desat-red;
}

button {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0px;
  border: none;
  height: 50px;
  width: 70px;
  background-repeat: no-repeat;
  background: linear-gradient(135deg, rgb(247, 226, 226), hsl(0, 74%, 74%));
  border-radius: 22px;
  box-shadow: rgba(252, 1, 1, 0.15) 0px 15px 25px,
    rgba(250, 8, 8, 0.05) 0px 5px 10px;
  cursor: pointer;
}

.attribution {
  margin-bottom: 2rem;
  font-size: 0.8rem;
  text-align: center;
  color: $dg-red;
}
